/.vs
/__pycache__
/data
haarcascade_frontalface_default.xml
modeloLBPH.xml
video cebita.mp4
video cebo.mp4
video cebo y cebita.mp4
video josias.mp4
video meme.mp4
video meme2.mp4
video peraza.mp4
video peraza2.mp4
video pablo.mp4
video pablo2.mp4
video pablo 3.mp4
Videos Face recognition.rar
